<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.ProgramFileConnectionString"
            connectionString="Data Source=.;Initial Catalog=ProgramFile;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.ProgramFileConnectionString1"
            connectionString="Data Source=PHEE\SQLEXPRESS;Initial Catalog=ProgramFile;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.ProgramFiles3ConnectionString"
            connectionString="Data Source=.;Initial Catalog=ProgramFiles3;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>